<div class="profiles">

    <app-profile-card 
        src="assets/images/user.png" 
        alt="User 1"
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dui turpis, consectetur eget nisl vitae, dapibus interdum felis. Cras ultrices odio est, non sagittis tortor dictum sed. Nam faucibus"
    ></app-profile-card>

    <app-profile-card 
        src="assets/images/user 2.png" 
        alt="User 2"
        text="Vivamus dui turpis, consectetur eget nisl vitae, dapibus interdum felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    ></app-profile-card>

    <app-profile-card 
        src="assets/images/user 3.png" 
        alt="User 3"
        text="Cras ultrices odio est, non sagittis tortor dictum sed. Nam faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dui turpis."
    ></app-profile-card>

    <div class="passwordCard">
        <input type="password" placeholder="Password">
        <select name="options" id="options">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="4">Option 4</option>
        </select>
    </div>
</div>
