<div class="description">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dui turpis, consectetur eget nisl vitae, dapibus interdum felis. Cras ultrices odio est, 
    non sagittis tortor dictum sed. Nam faucibus, nibh at venenatis vehicula, orci sapien tempus erat, non mattis tortor nulla in neque. Sed vehicula sem vitae metus aliquet, 
    ut vehicula arcu ullamcorper. Etiam luctus a enim vitae tempus. In id turpis nunc. Fusce mollis tempus odio nec pharetra. Proin ac feugiat dui. Donec ultrices a nulla eu ultrices. 
    Phasellus mattis nibh efficitur sapien maximus auctor. Aliquam blandit mollis felis ut condimentum. Morbi imperdiet dui sed porta aliquam. Aliquam sit amet mattis elit, quis molestie magna.
    </p>
</div>
